@media only screen and (min-width: 1000px) {
    .container {
        max-width: 80%;
        margin: 1.5rem auto;
    }

    .quote-div {
        margin: 0.5rem 2.5rem;
    }

    .nav-pills {
        margin: 2rem 5% 2rem 0rem;
    }

    .signature-nav {
        margin: 0rem 1rem 0rem 5%;
    }
}

@media only screen and (max-width: 700px) {
    .col-8 {
        min-width: 100%;
    }

    .col-4 {
        min-width: 100%;
    }

    .download-button-div {
        text-align: center;
    }

    #download-resume-btn {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .navigation {
        height: 7rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 10px 0px #aaa;
    }

    .signature-img {
        display: inline;
        width: 100%;
        height: 5rem;
    }

    .container {
        margin-top: 8rem;
    }

    .navigation .link-nav {
        display: block;
        padding: 0.4rem;
    }

    .link-nav:hover {
        background-color: #ddd;
    }

    .nav-pills {
        margin: 0rem;
        overflow: hidden;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        margin-right: 1rem;
        top: -1rem;
    }

    .list-item-inline {
        border-bottom: 1px black Solid;
        display: none;
        padding: 0rem;
    }

    .list-item-inline:last-child {
        border-bottom: none;
    }

    .about-section {
        position: absolute;
    }

    .navigation .menu {
        clear: both;
        position: relative;
        z-index: 1;
        max-height: 200px;
        background: #fff;
        height: fit-content;
        padding: 0.5rem 0rem 0.5rem 0rem;
        display: flex;
        width: 92%;
        text-align: center;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navigation .menu-icon {
        padding: 20px 20px;
        position: relative;
        float: right;
        margin-top: 1rem;
        cursor: pointer;
    }

    .navigation .menu-icon .nav-icon {
        background-color: #1B1547;
        display: block;
        height: 0.15rem;
        width: 1.8rem;
        position: relative;
        transition: all .2s ease-out;
    }

    .navigation .menu-icon .nav-icon::before {
        background-color: #1B1547;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0.5rem;
        position: absolute;
        transition: all .2s ease-out;
    }

    .navigation .menu-icon .nav-icon::after {
        background-color: #1B1547;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: -0.5rem;
        position: absolute;
        transition: all .2s ease-out;
    }

    .navigation .menu-btn {
        display: none;
    }

    .navigation .menu-btn:checked~.menu {
        visibility: visible;
        opacity: 1;
    }

    .navigation .menu-btn:checked~.menu .list-item-inline {
        display: block;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon {
        background: transparent;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    }

}