@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/** Navigation Styling **/

.navigation {
    padding: 1rem 1rem 0rem 1rem;
    height: max-content;
    background-color: #ddd;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #aaa;
    transition: transform 0.4s ease-out;
}

.nav-hidden {
    transform: translateY(-7rem);
}

.container {
    margin: 1.5rem 0rem;
    position: relative;
    z-index: 0;
}

.project-container {
    position: relative;
    z-index: 0;
}

.blog-container {
    position: relative;
    z-index: 0;
}

nav:after {
    content: '';
    display: block;
    clear: both;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0rem;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.nav-pills {
    text-align: right;
    display: inline;
    float: right;
    margin: 2rem 0rem;
}

.link-nav {
    color: #1B1547;
    text-decoration: none;
}

.navigation .nav-pills .link-nav:hover {
    font-weight: bold;
}

.signature-nav {
    display: inline;
    float: left;
    margin: 0rem 1rem;
}

.signature-img {
    display: inline;
    width: 100%;
    height: 5.5rem;
}

#menu-btn {
    display: none;
}

/** About Section Styling **/

#about-section {
    scroll-margin-block-start: 9rem;
}

.about-section {
    margin: 0rem 0.5rem;
}

.name-heading {
    color: #1B1547;
    margin-bottom: 0.2rem;
    margin-top: 0rem;
}

.about-heading {
    margin-top: 0.4rem;
}

.wrapper-div {
    display: inline;
}

.wrapper-div .static-text {
    font-size: 1.5rem;
    display: inline;
}

.wrapper-div #dynamic-text {
    margin-left: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.wrapper-div #cursor {
    margin-left: 0.2rem;
    font-size: 1.2rem;
    border-left: 3px black solid;
    animation: blink 0.75s steps(24) infinite;
}

@keyframes blink {
    to {
        border-left: transparent;
    }
}

.about-para {
    text-align: justify;
}

.new-para-indent {
    text-indent: 4em;
}

#download-resume-btn {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #0079E9;
    border: 2px #0079E9 solid;
    border-radius: 0.6rem;
    margin-top: 1.5rem;
    transition: transform 0.2s ease-out;
}

#download-resume-btn:hover {
    background-color: #0061BA;
    border: 2px #0061BA solid;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.image-div {
    position: relative;
    max-width: fit-content;
    margin: auto;
    transition: transform 0.4s ease-out;
}

.image-div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 98.5%;
    background: transparent;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, black 100%);
    /* Chrome10+,Safari5.1+ */
    border-radius: 1rem;
}

.portrait-image {
    width: 100%;
    height: 25rem;
    border: 2px #0079E9 Solid;
    border-radius: 1rem;
}

.image-div:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.name-text {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: white;
    font-weight: 500;
    font-size: 0.6rem;
    z-index: 1;
}

.quote-div {
    margin-top: 0.5rem;
}

.quote-vector {
    width: 1.6rem;
    height: 1.2rem;
}

.quote-text {
    margin-top: -1rem;
    margin-left: 2rem;
    font-weight: 500;
}

.quote-credit {
    display: block;
    text-align: right;
}


/** Project Section Styling **/

#project-section {
    scroll-margin-block-start: 6rem;
}

.project-section {
    background-color: #F1F1F1;
    padding: 2rem 2rem 2rem 2rem;
}

.project-section-heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: #1B1547; 
}

.project-elements {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.project-elements .col-6 {
    padding: 0rem;
}

.project-elements .project-elements-container {
    display: flex;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: 100%;
}

.pilo-project-image {
    border: 2px #10404C solid;
}

.pnb-project-image {
    border: 2px #FEBD30 solid;
}

.curtainz-project-image {
    border: 2px #1E32E6 solid;
}

.project-name {
    font-weight: 600;
    font-size: 1.2rem;
}

.height-70-percent {
    height: 70%;
}

.tools-used-icons {
    margin-right: 1rem;
}

.logos-container {
    margin-top: 2rem;
}

.project-link {
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    color: white;
    background-color: #0079E9;
    border: 2px #0079E9 solid;
    border-radius: 0.4rem;
    float: right;
    margin-top: 2rem;
}

.project-link:hover {
    background-color: #0061BA;
    border: 2px #0061BA solid;
}

/** Blog Section Styling **/

.blog-section .col-4 {
    padding: 10px;
}

#blog-section {
    scroll-margin-block-start: 6rem;
}

.blog-section {
    padding: 2rem 2rem 2rem 2rem;
    margin-bottom: 8rem;
}

.blog-section-heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: #1B1547; 
}

.blog-elements {
    position: relative;
    max-width: fit-content;
    padding: 0.4rem 0.4rem 1rem 0.4rem;
    border-radius: 0.5rem;
    border: 2px Solid grey;
    transition: transform 0.2s ease-out;
    text-align: center;
}

.blog-elements:hover {
    box-shadow: -3px 3px 10px 0px #aaa;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.blog-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 1px Solid lightgray;
}

.blog-detail-text {
    text-align: justify;
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.blog-link {
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    color: white;
    background-color: #0079E9;
    border: 2px #0079E9 solid;
    border-radius: 0.4rem;
}

.blog-link:hover {
    background-color: #0061BA;
    border: 2px #0061BA solid;
}

/** Contact Section / Footer Styling **/

.contact-container .col-4 {
    padding: 0px;
}

.contact-container {
    background-color: #1B1547;
    color: white;
    padding: 0.5rem;
}

.contact-detail {
    text-align: center;
}

.social-links {
    text-align: center;
    height: 3rem;
    margin-top: 0.2rem;
    border-left: 2px white dashed;
    border-right: 2px white dashed;
}

.email-detail {
    text-align: center;
}

.social-media-icons {
    position: relative;
    margin: 0rem 1rem;
    text-decoration: none;
}

.icons {
    height: 2rem;
    width: 2rem;
    margin-top: 0.6rem;
    transition: transform 0.1s ease-out;
}

.icons:hover {
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}

.developer-info {
    text-align: center;
    background-color: #E8E8E8;
    color: #1B1547;
    padding: 0.8rem;
}

.developer-link {
    color: #0061BA;
}

/** Global Styling Classes**/

.light-text {
    font-weight: 400;
    color: black;
}

.light-text-white {
    font-weight: 400;
    color: white;
}

.blue-color-span {
    color: #0079E9;
}

.red-color-span {
    color: #EA4335;
}

.green-color-span {
    color: #34A853;
}

.bright-yellow-color-span {
    color: #F0B300
}

.yellow-color-span {
    color: #FFC700;
}


/** Divided Columns For Responsive Design **/

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}