@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.navigation {
    padding: 1rem 1rem 0rem 1rem;
    height: max-content;
}

nav:after {
    content: '';
    display: block;
    clear: both;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0rem;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.nav-pills {
    text-align: right;
    display: inline;
    float: right;
    margin: 2rem 0rem;
}

.link-nav {
    color: #1B1547;
    text-decoration: none;
}

.navigation .nav-pills .link-nav:hover {
    font-weight: bold;
}

.signature-nav {
    display: inline;
    float: left;
    margin: 0rem 1rem;
}

.signature-img {
    display: inline;
    width: 100%;
    height: 6rem;
}

#menu-btn {
    display: none;
}

.light-text {
    font-weight: 400;
    color: black;
}

.name-heading {
    color: #1B1547;
    margin-bottom: 0.2rem;
    margin-top: 0rem;
}

.about-heading {
    margin-top: 0.4rem;
}

.about-section {
    margin: 0rem 0.5rem;
}

.wrapper-div {
    display: inline;
}

.wrapper-div .static-text {
    font-size: 1.5rem;
    display: inline;
}

.wrapper-div #dynamic-text {
    margin-left: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.wrapper-div #cursor {
    margin-left: 0.2rem;
    font-size: 1.2rem;
    border-left: 3px black solid;
    animation: blink 0.75s steps(24) infinite;
}

@keyframes blink {
    to {
        border-left: transparent;
    }
}

.about-para {
    text-align: justify;
}

.new-para-indent {
    text-indent: 4em;
}

#download-resume-btn {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-image: url(/images/cloud-download-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10rem;
    background-size: 1.5rem;
    font-size: 0.8rem;
    padding: 0.7rem 3.1rem 0.7rem 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #0079E9;
    border: 2px #0079E9 solid;
    border-radius: 0.6rem;
    margin-top: 1.5rem;
    transition: transform 0.2s ease-out;
}

#download-resume-btn:hover {
    background-color: #0061BA;
    border: 2px #0061BA solid;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.image-div {
    position: relative;
    max-width: fit-content;
    margin: auto;
    transition: transform 0.4s ease-out;
}

.image-div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 98.5%;
    background: transparent;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, black 100%);
    /* Chrome10+,Safari5.1+ */
    border-radius: 1rem;
}

.portrait-image {
    width: 100%;
    height: 25rem;
    border: 2px #0079E9 Solid;
    border-radius: 1rem;
}

.image-div:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.name-text {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: white;
    font-weight: 500;
    font-size: 0.6rem;
    z-index: 1;
}

.quote-div {
    margin-top: 0.5rem;
}

.quote-vector {
    width: 1.6rem;
    height: 1.2rem;
}

.quote-text {
    margin-top: -1rem;
    margin-left: 2rem;
    font-weight: 500;
}

.quote-credit {
    display: block;
    text-align: right;
}

@media only screen and (min-width: 1000px) {
    .container {
        max-width: 80%;
        margin: auto;
    }

    .quote-div {
        margin: 0.5rem 2.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .col-8 {
        min-width: 100%;
    }

    .col-4 {
        min-width: 100%;
    }

    .download-button-div {
        text-align: center;
    }

    #download-resume-btn {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .navigation {
        height: 7rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 10px 0px #aaa;
    }

    .signature-img {
        display: inline;
        width: 100%;
        height: 5rem;
    }

    .container {
        margin-top: 8rem;
    }

    .navigation .link-nav {
        display: block;
        padding: 0.4rem;
    }

    .nav-pills {
        margin: 0rem;
        overflow: hidden;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
        margin-right: 1rem;
        top: -1rem;
    }

    .list-item-inline {
        border-bottom: 1px black Solid;
        visibility: collapse;
    }

    .list-item-inline:last-child {
        border-bottom: none;
    }

    .list-item-inline:hover {
        background-color: #ddd;
    }

    .about-section {
        position: absolute;
    }

    .navigation .menu {
        clear: both;
        position: relative;
        z-index: 1;
        max-height: 200px;
        background: #fff;
        height: fit-content;
        padding: 0.5rem 0rem 0.5rem 0rem;
        width: 25%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navigation .menu-icon {
        padding: 20px 20px;
        position: relative;
        float: right;
        margin-top: 1rem;
        cursor: pointer;
    }

    .navigation .menu-icon .nav-icon {
        background-color: #1B1547;
        display: block;
        height: 0.15rem;
        width: 1.8rem;
        position: relative;
        transition: all .2s ease-out;
    }

    .navigation .menu-icon .nav-icon::before {
        background-color: #1B1547;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0.5rem;
        position: absolute;
        transition: all .2s ease-out;
    }

    .navigation .menu-icon .nav-icon::after {
        background-color: #1B1547;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: -0.5rem;
        position: absolute;
        transition: all .2s ease-out;
    }

    .navigation .menu-btn {
        display: none;
    }

    .navigation .menu-btn:checked~.menu {
        opacity: 1;
    }

    .navigation .menu-btn:checked~.menu .list-item-inline {
        visibility: visible;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon {
        background: transparent;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .navigation .menu-btn:checked~.menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    }

}

.light-text-white {
    font-weight: 400;
    color: white;
}

.blue-color-span {
    color: #0079E9;
}

.red-color-span {
    color: #EA4335;
}

.green-color-span {
    color: #34A853;
}

.bright-yellow-color-span {
    color: #F0B300
}

.yellow-color-span {
    color: #FFC700;
}




* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}